.top-section {
    width: 100%;
    height: 30vh;
    border: solid #000;
    border-width: 5px;
    background: #fff;
}

.purple-item {
    width: 5vh;
    height: 15vh;
    margin: 100px 20px 30px 20px;
    background: purple;
    display: inline-block;
}

.green-item {
    width: 560px;
    height: 250px;
    margin: 10px 40px 30px 10px;
    background: green;
    display: inline-block;

}

.blue-item{
    width: 250px;
    height: 250px;
    border-radius: 250px;
    margin: 20px 0px 30px 40px;
    background: lightblue;
    display: inline-block;  
}

.middle-section{
    width: 100%;
    height: 30vh;
    margin-top: 20px;
    border: dotted #000;
    border-width: 5px;
    background: #fff;
}

.yellow-box {
    width: 97%;
    height: 200px;
    background: #fffdd0;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 10px 8px 10px 1px;
    
}


.bottom-section {
    width: 50vh;
    height: 30vh;
    margin: 0 auto;
    margin-top: 30px;
    border: solid #777;
    text-align: center;
}

#text1 {
    line-height: 300px;
}